.about {
    height: 100vh;
    padding-top: 12vh;
    text-align: center;

    color: whitesmoke;
    background-color: rgb(17, 21, 34);
}

.about .desc h2 {
    padding-bottom: .5rem;
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 2px;
}

.about .desc p {
    width: 30%;
    color: rgb(156, 156, 156);
    margin: 0 auto 3rem auto;
    font-style: italic;
}